# **Zain ali**
# **BSAIM-F24-046**
# **AI-LAB-9**

# **Data Loading / Reading**

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("day_wise.csv")

In [5]:
print(df.head())

         Date  Confirmed  Deaths  Recovered  Active  New cases  New deaths  \
0  2020-01-22        555      17         28     510          0           0
1  2020-01-23        654      18         30     606         99           1
2  2020-01-24        941      26         36     879        287           8
3  2020-01-25       1434      42         39    1353        493          16
4  2020-01-26       2118      56         52    2010        684          14

   New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0              0                3.06                   5.05
1              2                2.75                   4.59
2              6                2.76                   3.83
3              3                2.93                   2.72
4             13                2.64                   2.46

   Deaths / 100 Recovered  No. of countries
0                   60.71                 6
1                   60.00                 8
2                   72.22                 9
3                  107.69                11
4                  107.69                13

# **Data Exploration**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    int64
 2   Deaths                  188 non-null    int64
 3   Recovered               188 non-null    int64
 4   Active                  188 non-null    int64
 5   New cases               188 non-null    int64
 6   New deaths              188 non-null    int64
 7   New recovered           188 non-null    int64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    int64
dtypes: float64(3), int64(8), object(1)
memory usage: 17.8+ KB

# **For Numeric Columns**

In [7]:
df.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
count,1.880000e+02,188.000000,1.880000e+02,1.880000e+02,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000
mean,4.406960e+06,230770.760638,2.066001e+06,2.110188e+06,87771.021277,3478.824468,50362.015957,4.860638,34.343936,22.104521,144.351064
std,4.757988e+06,217929.094183,2.627976e+06,1.969670e+06,75295.293255,2537.735652,56090.892479,1.579541,16.206159,22.568307,65.175979
min,5.550000e+02,17.000000,2.800000e+01,5.100000e+02,0.000000,0.000000,0.000000,2.040000,1.710000,6.260000,6.000000
25%,1.121910e+05,3935.000000,6.044125e+04,5.864175e+04,5568.500000,250.750000,2488.250000,3.510000,22.785000,9.650000,101.250000
50%,2.848733e+06,204190.000000,7.847840e+05,1.859759e+06,81114.000000,4116.000000,30991.500000,4.850000,35.680000,15.380000,184.000000
75%,7.422046e+06,418634.500000,3.416396e+06,3.587015e+06,131502.500000,5346.000000,79706.250000,6.297500,48.945000,25.342500,187.000000
max,1.648048e+07,654036.000000,9.468087e+06,6.358362e+06,282756.000000,9966.000000,284394.000000,7.180000,57.450000,134.430000,187.000000

# **Null values**

In [8]:
df.isnull().sum()

Date                      0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
No. of countries          0
dtype: int64

# **Tail rows**

In [12]:
print(df.tail())

           Date  Confirmed  Deaths  Recovered   Active  New cases  New deaths  \
183  2020-07-23   15510481  633506    8710969  6166006     282756        9966
184  2020-07-24   15791645  639650    8939705  6212290     281164        6144
185  2020-07-25   16047190  644517    9158743  6243930     255545        4867
186  2020-07-26   16251796  648621    9293464  6309711     204606        4104
187  2020-07-27   16480485  654036    9468087  6358362     228693        5415

     New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
183         169714                4.08                  56.16
184         228736                4.05                  56.61
185         219038                4.02                  57.07
186         134721                3.99                  57.18
187         174623                3.97                  57.45

     Deaths / 100 Recovered  No. of countries
183                    7.27               187
184                    7.16               187
185                    7.04               187
186                    6.98               187
187                    6.91               187

# **Check date/time columns**

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'].min(), df['Date'].max())

2020-01-22 00:00:00 2020-07-27 00:00:00